# Real world Data

## Data source 

Basically, the dataset tree is the following:

- Region
    - Country
        - Industry
            - Client 
                - Products
                
## Variables name

|  Variable name        |  Type   |
| --------------------- | ------- |
| ID                    |  object |
| Country_name          | object  |
| country_ref           | object  |
| Region                | object  |
| industry              | object  |
| A_reference           | float64 |
| A_market              | float64 |
| B_reference           | float64 |
| B_market              | float64 |
| C_reference           | float64 |
| C_market              | float64 |
| D_reference           | float64 |
| D_market              | float64 |
| E_reference           | float64 |
| E_market              | float64 |
| Total_reference       | float64 |
| Total_market          | float64 |

Note that, the market includes the reference

In [1]:
import pandas as pd
#import plotly.express as px
import numpy as np

import seaborn as sns

cm = sns.light_palette("green", as_cmap=True)

In [6]:
df_final = pd.read_csv('dataPandasClass.gz')
df_final.sort_values(by =['ID','Country_name']).head()

,ID,Country_name,country_ref,Region,industry,A_reference,A_market,B_reference,B_market,C_reference,C_market,D_reference,D_market,E_reference,E_market,Total_reference,Total_market
13263,Customer 1,Argentina,ARG,Americas,F,0.0,0.022022,0.0,0.000000,0.0,0.005298,0.0,0.00000,0.0,0.000000,0.0,0.022040
6101,Customer 1,Australia,AUS,Asia Pacific,F,0.0,0.037286,0.0,0.038894,0.0,0.008956,0.0,0.02676,0.0,0.000000,0.0,0.046661
11295,Customer 1,Austria,AUT,Central Europe,F,0.0,0.019821,0.0,0.020728,0.0,0.004784,0.0,0.00000,0.0,0.006639,0.0,0.024173
10496,Customer 1,Belgium,BEL,Northern Europe,F,0.0,0.024342,0.0,0.025185,0.0,0.005840,0.0,0.00000,0.0,0.007935,0.0,0.029511
11582,Customer 1,Brazil,BRA,Americas,F,0.0,0.030103,0.0,0.000000,0.0,0.007237,0.0,0.00000,0.0,0.000000,0.0,0.030128

In [8]:
df_final.filter(like = "_").head()

,Country_name,country_ref,A_reference,A_market,B_reference,B_market,C_reference,C_market,D_reference,D_market,E_reference,E_market,Total_reference,Total_market
0,Australia,AUS,0.0,0.007258,0.0,0.010424,0.0,0.021051,0.0,0.001752,0.0,0.005433,0.0,0.021454
1,Australia,AUS,0.0,0.009222,0.0,0.018054,0.0,0.021051,0.0,0.009690,0.0,0.008571,0.0,0.023859
2,Australia,AUS,0.0,0.012397,0.0,0.012396,0.0,0.002533,0.0,0.007179,0.0,0.005884,0.0,0.015037
3,Australia,AUS,0.0,0.012402,0.0,0.032244,0.0,0.009523,0.0,0.016637,0.0,0.016271,0.0,0.033501
4,Australia,AUS,0.0,0.014409,0.0,0.015047,0.0,0.010695,0.0,0.009601,0.0,0.010526,0.0,0.018923

## Objectives

In this notebook, you need to:

- Print the country name by region
- Compute the market size for the reference by:
    - Product
    - Industry
    - Region
- Industry Market size by product
- Region Market size by product
- Region Market size by industry

For all the above computation compute the market share of `reference`

- Remove Region-industry with no revenue
- Compute Euclidean Distance by Region-industry-product
- Filter the data by Region-industry-product

**the market share :Revenue to potential**

$$\text{Market share} = \sum  \text{Revenue Reference} / \sum \text{Total Market} $$

## Parameters

In [9]:
reference = [
    "A_reference",
    "B_reference",
    "C_reference",
    "D_reference",
    "E_reference",
]
market = [
    "A_market",
    "B_market",
    "C_market",
    "D_market",
    "E_market",
]

In [ ]:
df_final[reference].head()

## List country by region

In [12]:
df_final['Region']

0           Asia Pacific
1           Asia Pacific
2           Asia Pacific
3           Asia Pacific
4           Asia Pacific
              ...
17838    Northern Europe
17839    Northern Europe
17840    Northern Europe
17841    Northern Europe
17842    Northern Europe
Name: Region, Length: 17843, dtype: object

In [10]:
for c in df_final['Region'].sort_values().unique():

    countries = df_final[df_final['Region'].isin(
        [c])]['Country_name'].unique()

    print('\n Region name {} \n {}'.format(c, countries))

 Region name Americas
 ['United States' 'Mexico' 'Venezuela' 'Brazil' 'Argentina' 'Canada' 'Peru'
 'Colombia' 'Uruguay' 'Chile' 'Ecuador' 'Paraguay' 'Trinidad and Tobago'
 'Bahamas' 'Jamaica' 'Panama' 'Armenia' 'Bolivia' 'Martinique' 'Guatemala'
 'Honduras']

 Region name Asia Pacific
 ['Australia' 'new Zealand' 'Japan' 'China' 'India' 'Indonesia' 'Pakistan'
 'Singapore' 'Vietnam' 'Philippines' 'Hong Kong' 'Korea' 'Thailand'
 'Malaysia' 'Taiwan' 'Kazakhstan' 'Bangladesh' 'Macao' 'Sri Lanka'
 'Kiribati']

 Region name Central Europe
 ['Germany' 'Czech' 'Hungary' 'Poland' 'Slovak Republic' 'Romania'
 'Lithuania' 'Estonia' 'Switzerland' 'Austria' 'The Russian Federation'
 'Slovenia' 'Bulgaria' 'Ukraine' 'Croatia' 'Latvia' 'Montenegro'
 'Federal Republic of Yugoslavia' 'Belarus' 'Georgia' 'Moldova']

 Region name Middle East & Africa
 ['Ghana' 'South Africa' 'Tanzania' 'Kenya' 'Egypt' 'Mozambique' 'Congo'
 'Qatar' 'Lesotho' 'Saudi Arabia' 'Kuwait' 'Nigeria' 'Costa Rica' 'Mali'
 'United Arab Emirates' 'Morocco' 'Uganda' 'Zimbabwe' 'Lebanon' 'Oman'
 'Tunisia' 'Namibia' 'Bahamas' 'Israel' 'Papua New Guinea' 'Afghanistan'
 'Zambia']

 Region name Northern Europe
 ['Netherlands' 'United Kingdom' 'Ireland' 'Finland' 'France' 'Sweden'
 'Belgium' 'Denmark' 'Luxembourg' 'Norway' 'Monaco']

 Region name Southern Europe
 ['Spain' 'Italy' 'Turkey' 'Portugal' 'Greece' 'Malta' 'Albania' 'Cyprus'
 'Gibraltar']

## Index

In [14]:
list(df_final)

['ID',
 'Country_name',
 'country_ref',
 'Region',
 'industry',
 'A_reference',
 'A_market',
 'B_reference',
 'B_market',
 'C_reference',
 'C_market',
 'D_reference',
 'D_market',
 'E_reference',
 'E_market',
 'Total_reference',
 'Total_market']

In [15]:
df_final.head()

,ID,Country_name,country_ref,Region,industry,A_reference,A_market,B_reference,B_market,C_reference,C_market,D_reference,D_market,E_reference,E_market,Total_reference,Total_market
0,Customer 620,Australia,AUS,Asia Pacific,A,0.0,0.007258,0.0,0.010424,0.0,0.021051,0.0,0.001752,0.0,0.005433,0.0,0.021454
1,Customer 1070,Australia,AUS,Asia Pacific,A,0.0,0.009222,0.0,0.018054,0.0,0.021051,0.0,0.009690,0.0,0.008571,0.0,0.023859
2,Customer 25,Australia,AUS,Asia Pacific,A,0.0,0.012397,0.0,0.012396,0.0,0.002533,0.0,0.007179,0.0,0.005884,0.0,0.015037
3,Customer 370,Australia,AUS,Asia Pacific,B,0.0,0.012402,0.0,0.032244,0.0,0.009523,0.0,0.016637,0.0,0.016271,0.0,0.033501
4,Customer 597,Australia,AUS,Asia Pacific,C,0.0,0.014409,0.0,0.015047,0.0,0.010695,0.0,0.009601,0.0,0.010526,0.0,0.018923

In [22]:
df_final.loc[:5]

,ID,Country_name,country_ref,Region,industry,A_reference,A_market,B_reference,B_market,C_reference,C_market,D_reference,D_market,E_reference,E_market,Total_reference,Total_market
0,Customer 620,Australia,AUS,Asia Pacific,A,0.0,0.007258,0.0,0.010424,0.0,0.021051,0.0,0.001752,0.0,0.005433,0.0,0.021454
1,Customer 1070,Australia,AUS,Asia Pacific,A,0.0,0.009222,0.0,0.018054,0.0,0.021051,0.0,0.009690,0.0,0.008571,0.0,0.023859
2,Customer 25,Australia,AUS,Asia Pacific,A,0.0,0.012397,0.0,0.012396,0.0,0.002533,0.0,0.007179,0.0,0.005884,0.0,0.015037
3,Customer 370,Australia,AUS,Asia Pacific,B,0.0,0.012402,0.0,0.032244,0.0,0.009523,0.0,0.016637,0.0,0.016271,0.0,0.033501
4,Customer 597,Australia,AUS,Asia Pacific,C,0.0,0.014409,0.0,0.015047,0.0,0.010695,0.0,0.009601,0.0,0.010526,0.0,0.018923
5,Customer 809,Australia,AUS,Asia Pacific,C,0.0,0.015730,0.0,0.015047,0.0,0.010695,0.0,0.003718,0.0,0.010526,0.0,0.019275

In [16]:
df_index = df_final.set_index(['ID',
                    'Country_name',
                    'Region',
                    'industry'])
df_index.head()

,,,,country_ref,A_reference,A_market,B_reference,B_market,C_reference,C_market,D_reference,D_market,E_reference,E_market,Total_reference,Total_market
ID,Country_name,Region,industry,,,,,,,,,,,,,
Customer 620,Australia,Asia Pacific,A,AUS,0.0,0.007258,0.0,0.010424,0.0,0.021051,0.0,0.001752,0.0,0.005433,0.0,0.021454
Customer 1070,Australia,Asia Pacific,A,AUS,0.0,0.009222,0.0,0.018054,0.0,0.021051,0.0,0.009690,0.0,0.008571,0.0,0.023859
Customer 25,Australia,Asia Pacific,A,AUS,0.0,0.012397,0.0,0.012396,0.0,0.002533,0.0,0.007179,0.0,0.005884,0.0,0.015037
Customer 370,Australia,Asia Pacific,B,AUS,0.0,0.012402,0.0,0.032244,0.0,0.009523,0.0,0.016637,0.0,0.016271,0.0,0.033501
Customer 597,Australia,Asia Pacific,C,AUS,0.0,0.014409,0.0,0.015047,0.0,0.010695,0.0,0.009601,0.0,0.010526,0.0,0.018923

In [20]:
#df_index.loc[0]

In [25]:
df_index.loc[('Customer 25')]#.mean()

,,,country_ref,A_reference,A_market,B_reference,B_market,C_reference,C_market,D_reference,D_market,E_reference,E_market,Total_reference,Total_market
Country_name,Region,industry,,,,,,,,,,,,,
Australia,Asia Pacific,A,AUS,0.000000,0.012397,0.0,0.012396,0.000000,0.002533,0.000000,0.007179,0.000000,0.005884,0.000000,0.015037
India,Asia Pacific,A,IND,0.000000,0.011252,0.0,0.025353,0.000000,0.008428,0.000000,0.003718,0.000000,0.008862,0.000000,0.025764
Kenya,Middle East & Africa,A,KEN,0.000000,0.010802,0.0,0.006931,0.000000,0.006332,0.000000,0.005495,0.000000,0.005528,0.000000,0.011798
Netherlands,Northern Europe,A,NLD,0.000000,0.010039,0.0,0.009818,0.000000,0.024377,0.000000,0.004744,0.000000,0.015434,0.000000,0.025605
Germany,Central Europe,A,DEU,0.000633,0.006535,0.0,0.015822,0.000000,0.019492,0.006456,0.021591,0.000000,0.009098,0.006456,0.025652
Spain,Southern Europe,A,ESP,0.011490,0.003241,0.0,0.009101,0.000000,0.000000,0.010637,0.018103,0.000000,0.005072,0.013186,0.018416
Ghana,Middle East & Africa,A,GHA,0.010989,0.015323,0.0,0.006508,0.000000,0.012991,0.012027,0.005495,0.000000,0.002913,0.013727,0.017144
South Africa,Middle East & Africa,A,ZAF,0.012543,0.020476,0.0,0.003009,0.006728,0.000000,0.027861,0.019128,0.000000,0.009378,0.028166,0.023737
Tanzania,Middle East & Africa,A,TZA,0.014247,0.010161,0.0,0.006931,0.000000,0.019948,0.014076,0.017557,0.000000,0.001697,0.016842,0.022717
United Kingdom,Northern Europe,A,GBR,0.004390,0.009650,0.0,0.014342,0.000000,0.015431,0.013313,0.015311,0.013702,0.011889,0.016091,0.020672
Italy,Southern Europe,A,ITA,0.005472,0.007479,NaN,0.008398,0.000000,0.009260,0.009891,0.016016,0.000000,0.008793,0.010014,0.017185
Romania,Central Europe,A,ROM,0.005249,0.011778,0.0,0.010570,0.000000,0.014920,0.011171,0.006301,0.000000,0.010920,0.011305,0.017652
Turkey,Southern Europe,A,TUR,0.007826,0.009781,0.0,0.016049,0.000000,0.014263,0.004861,0.015664,0.000000,0.008284,0.008102,0.020649
Mozambique,Middle East & Africa,A,MOZ,0.011310,0.024649,0.0,0.009938,0.000000,0.022114,0.010656,0.012978,0.000000,0.000000,0.013079,0.028355
Lesotho,Middle East & Africa,A,LSO,0.011199,0.016962,0.0,0.010143,0.000000,0.000000,0.000000,0.007272,0.000000,0.004421,0.011199,0.017627
Belgium,Northern Europe,A,BEL,0.000000,0.069782,0.0,0.073896,0.000000,0.037361,0.000000,0.000000,0.000000,0.023295,0.000000,0.086419

In [26]:
df_index.loc[('Customer 25','Belgium')]

/Users/thomas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  """Entry point for launching an IPython kernel.

,,country_ref,A_reference,A_market,B_reference,B_market,C_reference,C_market,D_reference,D_market,E_reference,E_market,Total_reference,Total_market
Region,industry,,,,,,,,,,,,,
Northern Europe,A,BEL,0.0,0.069782,0.0,0.073896,0.0,0.037361,0.0,0.0,0.0,0.023295,0.0,0.086419

In [31]:
df_index.loc[('Customer 25',
              slice(None),
              slice(None), 'A')].head()

,,country_ref,A_reference,A_market,B_reference,B_market,C_reference,C_market,D_reference,D_market,E_reference,E_market,Total_reference,Total_market
Country_name,Region,,,,,,,,,,,,,
Australia,Asia Pacific,AUS,0.000000,0.012397,0.0,0.012396,0.0,0.002533,0.000000,0.007179,0.0,0.005884,0.000000,0.015037
India,Asia Pacific,IND,0.000000,0.011252,0.0,0.025353,0.0,0.008428,0.000000,0.003718,0.0,0.008862,0.000000,0.025764
Kenya,Middle East & Africa,KEN,0.000000,0.010802,0.0,0.006931,0.0,0.006332,0.000000,0.005495,0.0,0.005528,0.000000,0.011798
Netherlands,Northern Europe,NLD,0.000000,0.010039,0.0,0.009818,0.0,0.024377,0.000000,0.004744,0.0,0.015434,0.000000,0.025605
Germany,Central Europe,DEU,0.000633,0.006535,0.0,0.015822,0.0,0.019492,0.006456,0.021591,0.0,0.009098,0.006456,0.025652

In [33]:
df_index.loc[('Customer 25',
              slice(None),
              slice(None), 'A'), ['A_reference', 'B_reference']].head()

                                                        A_reference  \
ID          Country_name Region               industry
Customer 25 Australia    Asia Pacific         A            0.000000
            India        Asia Pacific         A            0.000000
            Kenya        Middle East & Africa A            0.000000
            Netherlands  Northern Europe      A            0.000000
            Germany      Central Europe       A            0.000633

                                                        B_reference
ID          Country_name Region               industry
Customer 25 Australia    Asia Pacific         A                 0.0
            India        Asia Pacific         A                 0.0
            Kenya        Middle East & Africa A                 0.0
            Netherlands  Northern Europe      A                 0.0
            Germany      Central Europe       A                 0.0

In [28]:
df_index.xs('Belgium',
            level='Country_name',
            axis=0, drop_level=False).head()

,,,,country_ref,A_reference,A_market,B_reference,B_market,C_reference,C_market,D_reference,D_market,E_reference,E_market,Total_reference,Total_market
ID,Country_name,Region,industry,,,,,,,,,,,,,
Customer 1100,Belgium,Northern Europe,J,BEL,0.0,0.039886,0.0,0.042186,0.0,0.021302,0.0,0.0,0.0,0.013224,0.0,0.049357
Customer 484,Belgium,Northern Europe,J,BEL,0.0,0.036290,0.0,0.036858,0.0,0.009408,0.0,0.0,0.0,0.013783,0.0,0.043631
Customer 478,Belgium,Northern Europe,J,BEL,0.0,0.033303,0.0,0.035325,0.0,0.017885,0.0,0.0,0.0,0.010917,0.0,0.041280
Customer 145,Belgium,Northern Europe,J,BEL,0.0,0.030900,0.0,0.031430,0.0,0.008037,0.0,0.0,0.0,0.011677,0.0,0.037177
Customer 33,Belgium,Northern Europe,J,BEL,0.0,0.029825,0.0,0.030298,0.0,0.010725,0.0,0.0,0.0,0.011201,0.0,0.035910

In [29]:
df_index.xs(('Belgium'),
            level=('Country_name'),
            axis=0, drop_level=False).head()

,,,,country_ref,A_reference,A_market,B_reference,B_market,C_reference,C_market,D_reference,D_market,E_reference,E_market,Total_reference,Total_market
ID,Country_name,Region,industry,,,,,,,,,,,,,
Customer 1100,Belgium,Northern Europe,J,BEL,0.0,0.039886,0.0,0.042186,0.0,0.021302,0.0,0.0,0.0,0.013224,0.0,0.049357
Customer 484,Belgium,Northern Europe,J,BEL,0.0,0.036290,0.0,0.036858,0.0,0.009408,0.0,0.0,0.0,0.013783,0.0,0.043631
Customer 478,Belgium,Northern Europe,J,BEL,0.0,0.033303,0.0,0.035325,0.0,0.017885,0.0,0.0,0.0,0.010917,0.0,0.041280
Customer 145,Belgium,Northern Europe,J,BEL,0.0,0.030900,0.0,0.031430,0.0,0.008037,0.0,0.0,0.0,0.011677,0.0,0.037177
Customer 33,Belgium,Northern Europe,J,BEL,0.0,0.029825,0.0,0.030298,0.0,0.010725,0.0,0.0,0.0,0.011201,0.0,0.035910

In [30]:
df_index.loc[('Customer 25'), 'A_reference']

/Users/thomas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  """Entry point for launching an IPython kernel.

Country_name    Region                industry
Australia       Asia Pacific          A           0.000000
India           Asia Pacific          A           0.000000
Kenya           Middle East & Africa  A           0.000000
Netherlands     Northern Europe       A           0.000000
Germany         Central Europe        A           0.000633
Spain           Southern Europe       A           0.011490
Ghana           Middle East & Africa  A           0.010989
South Africa    Middle East & Africa  A           0.012543
Tanzania        Middle East & Africa  A           0.014247
United Kingdom  Northern Europe       A           0.004390
Italy           Southern Europe       A           0.005472
Romania         Central Europe        A           0.005249
Turkey          Southern Europe       A           0.007826
Mozambique      Middle East & Africa  A           0.011310
Lesotho         Middle East & Africa  A           0.011199
Belgium         Northern Europe       A           0.000000
Name: A_reference, dtype: float64

# Top level

## Product Market size

In [40]:
df_temp = df_final[reference + market].sum(axis = 0)
df_temp

A_reference     29.257090
B_reference      2.153142
C_reference      6.428825
D_reference     58.388581
E_reference      3.464277
A_market       303.405294
B_market       199.103182
C_market       140.024401
D_market       116.117988
E_market       100.210318
dtype: float64

In [42]:
step_2 = df_temp.reset_index(name = 'sum_product')

In [46]:
step_3 = step_2.assign(origin = lambda x: x['index'].str.extract(r"(_[^_]+$)"),
         product = lambda x: x['index'].str.extract(r"(^[^_]+(?=_))"))
step_3

         index  sum_product      origin product
0  A_reference    29.257090  _reference       A
1  B_reference     2.153142  _reference       B
2  C_reference     6.428825  _reference       C
3  D_reference    58.388581  _reference       D
4  E_reference     3.464277  _reference       E
5     A_market   303.405294     _market       A
6     B_market   199.103182     _market       B
7     C_market   140.024401     _market       C
8     D_market   116.117988     _market       D
9     E_market   100.210318     _market       E

In [47]:
step_4 = step_3.drop(columns = 'index')
step_4

   sum_product      origin product
0    29.257090  _reference       A
1     2.153142  _reference       B
2     6.428825  _reference       C
3    58.388581  _reference       D
4     3.464277  _reference       E
5   303.405294     _market       A
6   199.103182     _market       B
7   140.024401     _market       C
8   116.117988     _market       D
9   100.210318     _market       E

In [51]:
step_5 = (step_4.sort_values(by="product")
          .set_index(['product', 'origin'])
          )
step_5

                    sum_product
product origin
A       _reference    29.257090
        _market      303.405294
B       _reference     2.153142
        _market      199.103182
C       _reference     6.428825
        _market      140.024401
D       _reference    58.388581
        _market      116.117988
E       _reference     3.464277
        _market      100.210318

In [55]:
step_6 = step_5.unstack(level = 1)
step_6

        sum_product
origin      _market _reference
product
A        303.405294  29.257090
B        199.103182   2.153142
C        140.024401   6.428825
D        116.117988  58.388581
E        100.210318   3.464277

In [56]:
step_7 = step_6.assign(market_size = lambda x: x.iloc[:, 1] / x.iloc[:, 0])
step_7

        sum_product            market_size
origin      _market _reference
product
A        303.405294  29.257090    0.096429
B        199.103182   2.153142    0.010814
C        140.024401   6.428825    0.045912
D        116.117988  58.388581    0.502838
E        100.210318   3.464277    0.034570

In [34]:
(df_final[reference + market]
 .sum(axis = 0)
 .reset_index(name = 'sum_product')
 .assign(origin = lambda x: x['index'].str.extract(r"(_[^_]+$)"),
         product = lambda x: x['index'].str.extract(r"(^[^_]+(?=_))"))
 .drop(columns = 'index')
 .sort_values(by = "product")
 .set_index(['product', 'origin'])
 .unstack(level = 1)
 .assign(market_size = lambda x: x.iloc[:, 1] / x.iloc[:, 0])
 .sort_values(by = 'market_size')
 .style
 .bar(subset=['market_size'], color='#d65f5f')
 .format("{:.2%}", subset=['market_size'])
)

## Industry Market size

In [57]:
(df_final
 .groupby('industry').agg(
     {
         'Total_reference': 'sum',
         'Total_market': 'sum'})
 .assign(revenue_to_potential = lambda x:
         x['Total_reference']/ x['Total_market'])
 .sort_values(by = 'revenue_to_potential')
 .style
 .bar(subset=['revenue_to_potential'], color='#d65f5f')
 .format("{:.2%}", subset=['revenue_to_potential'])
          )

## Region Market size

In [ ]:
(df_final
 .groupby('Region').agg(
     {
         'Total_reference': 'sum',
         'Total_market': 'sum'})
 .assign(revenue_to_potential = lambda x: x['Total_reference']/ x['Total_market'])
 .sort_values(by = 'revenue_to_potential')
 .style
 .format({'revenue_to_potential': "{:.2%}"})
 .bar(subset=['revenue_to_potential'], color='#d65f5f')
 )

# Next level

## Industry Market size by product

In [66]:
step_1 = (df_final[['industry'] + reference + market]
          .groupby('industry')
          .sum(axis=0)
          .transpose()
          .reset_index()
          .assign(origin = lambda x: x['index'].str.extract(r"(_[^_]+$)"),
                product = lambda x: x['index'].str.extract(r"(^[^_]+(?=_))"))
          )
step_1

industry,index,A,B,C,D,E,F,G,H,I,...,K,L,M,N,O,P,Q,R,origin,product
0,A_reference,4.907946,2.210468,2.902790,0.932114,5.232745,2.252117,2.677418,1.243388,0.979546,...,0.664858,1.553131,0.618725,0.911423,0.251024,0.000000,0.031190,0.044136,_reference,A
1,B_reference,0.253223,0.249729,0.250033,0.101370,0.320306,0.207141,0.355712,0.029682,0.052515,...,0.070875,0.072015,0.028072,0.009750,0.037574,0.000000,0.010367,0.005411,_reference,B
2,C_reference,1.020902,0.795853,0.638045,0.094534,1.314825,0.450612,0.430902,0.331000,0.128314,...,0.146820,0.324976,0.153012,0.057365,0.045982,0.000000,0.000000,0.014305,_reference,C
3,D_reference,10.445549,3.545234,5.092406,1.590237,11.143459,4.844611,5.215100,2.140190,1.674319,...,1.305611,4.215493,1.068068,1.762081,0.430486,0.000000,0.022291,0.121586,_reference,D
4,E_reference,0.461802,0.393175,0.376686,0.217327,0.474185,0.204973,0.499346,0.124389,0.074575,...,0.027251,0.184002,0.064696,0.032391,0.010517,0.000000,0.000000,0.023121,_reference,E
5,A_market,52.405622,19.570229,27.570648,9.488114,61.288900,20.369299,27.354353,10.857058,8.392135,...,5.971862,19.598920,4.775709,7.539815,1.951133,0.026133,0.242144,2.406654,_market,A
6,B_market,31.906430,13.097126,19.220952,6.047796,39.793848,14.971596,17.681935,6.903328,6.335236,...,4.559139,12.291928,3.901281,6.860973,1.401172,0.026943,0.192816,1.272574,_market,B
7,C_market,24.505209,9.195902,13.510517,5.051537,28.857113,8.537154,9.808075,5.468393,4.195441,...,2.557313,8.430008,2.011502,4.898695,1.031104,0.010029,0.101499,0.789227,_market,C
8,D_market,19.678371,7.722845,10.936563,3.569419,20.745395,8.629699,9.673067,4.113519,3.931542,...,2.636369,7.300546,2.289063,5.545575,0.859661,0.019798,0.110235,0.593220,_market,D
9,E_market,16.777328,6.785848,8.594297,2.891857,19.364490,7.504141,8.296581,3.568844,3.310806,...,1.973700,6.191475,1.908590,5.238381,0.835774,0.029784,0.051864,0.412629,_market,E

In [67]:
step_2 = (step_1.drop(columns = 'index')
 .sort_values(by = "product")
 .set_index(['product', 'origin'])
         )
step_2

industry                    A          B          C         D          E  \
product origin
A       _reference   4.907946   2.210468   2.902790  0.932114   5.232745
        _market     52.405622  19.570229  27.570648  9.488114  61.288900
B       _reference   0.253223   0.249729   0.250033  0.101370   0.320306
        _market     31.906430  13.097126  19.220952  6.047796  39.793848
C       _reference   1.020902   0.795853   0.638045  0.094534   1.314825
        _market     24.505209   9.195902  13.510517  5.051537  28.857113
D       _reference  10.445549   3.545234   5.092406  1.590237  11.143459
        _market     19.678371   7.722845  10.936563  3.569419  20.745395
E       _reference   0.461802   0.393175   0.376686  0.217327   0.474185
        _market     16.777328   6.785848   8.594297  2.891857  19.364490

industry                    F          G          H         I          J  \
product origin
A       _reference   2.252117   2.677418   1.243388  0.979546   1.844073
        _market     20.369299  27.354353  10.857058  8.392135  23.596566
B       _reference   0.207141   0.355712   0.029682  0.052515   0.099365
        _market     14.971596  17.681935   6.903328  6.335236  12.638108
C       _reference   0.450612   0.430902   0.331000  0.128314   0.481378
        _market      8.537154   9.808075   5.468393  4.195441  11.065682
D       _reference   4.844611   5.215100   2.140190  1.674319   3.771860
        _market      8.629699   9.673067   4.113519  3.931542   7.763102
E       _reference   0.204973   0.499346   0.124389  0.074575   0.295841
        _market      7.504141   8.296581   3.568844  3.310806   6.473929

industry                   K          L         M         N         O  \
product origin
A       _reference  0.664858   1.553131  0.618725  0.911423  0.251024
        _market     5.971862  19.598920  4.775709  7.539815  1.951133
B       _reference  0.070875   0.072015  0.028072  0.009750  0.037574
        _market     4.559139  12.291928  3.901281  6.860973  1.401172
C       _reference  0.146820   0.324976  0.153012  0.057365  0.045982
        _market     2.557313   8.430008  2.011502  4.898695  1.031104
D       _reference  1.305611   4.215493  1.068068  1.762081  0.430486
        _market     2.636369   7.300546  2.289063  5.545575  0.859661
E       _reference  0.027251   0.184002  0.064696  0.032391  0.010517
        _market     1.973700   6.191475  1.908590  5.238381  0.835774

industry                   P         Q         R
product origin
A       _reference  0.000000  0.031190  0.044136
        _market     0.026133  0.242144  2.406654
B       _reference  0.000000  0.010367  0.005411
        _market     0.026943  0.192816  1.272574
C       _reference  0.000000  0.000000  0.014305
        _market     0.010029  0.101499  0.789227
D       _reference  0.000000  0.022291  0.121586
        _market     0.019798  0.110235  0.593220
E       _reference  0.000000  0.000000  0.023121
        _market     0.029784  0.051864  0.412629

In [71]:
#step_2.unstack(-1)

In [73]:
step_3 = (step_2.groupby(level=0)
          .apply(lambda x: x.shift(1) / x)
          .dropna()
          )
step_3

,industry,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R
product,origin,,,,,,,,,,,,,,,,,,
A,_market,0.093653,0.112951,0.105286,0.098240,0.085378,0.110564,0.097879,0.114523,0.116722,0.078150,0.111332,0.079246,0.129557,0.120881,0.128655,0.0,0.128809,0.018339
B,_market,0.007936,0.019067,0.013008,0.016761,0.008049,0.013836,0.020117,0.004300,0.008289,0.007862,0.015546,0.005859,0.007196,0.001421,0.026816,0.0,0.053766,0.004252
C,_market,0.041661,0.086544,0.047226,0.018714,0.045563,0.052782,0.043933,0.060530,0.030584,0.043502,0.057412,0.038550,0.076068,0.011710,0.044595,0.0,0.000000,0.018125
D,_market,0.530814,0.459058,0.465631,0.445517,0.537153,0.561388,0.539136,0.520282,0.425868,0.485870,0.495231,0.577422,0.466596,0.317745,0.500762,0.0,0.202217,0.204960
E,_market,0.027525,0.057940,0.043830,0.075151,0.024487,0.027315,0.060187,0.034854,0.022525,0.045697,0.013807,0.029719,0.033897,0.006183,0.012583,0.0,0.000000,0.056033

In [75]:
(step_3.droplevel('origin')
 .transpose()
 .assign(total_industry = lambda x: x.sum(1))
)

product          A         B         C         D         E  total_industry
industry
A         0.093653  0.007936  0.041661  0.530814  0.027525        0.701589
B         0.112951  0.019067  0.086544  0.459058  0.057940        0.735561
C         0.105286  0.013008  0.047226  0.465631  0.043830        0.674981
D         0.098240  0.016761  0.018714  0.445517  0.075151        0.654384
E         0.085378  0.008049  0.045563  0.537153  0.024487        0.700632
F         0.110564  0.013836  0.052782  0.561388  0.027315        0.765885
G         0.097879  0.020117  0.043933  0.539136  0.060187        0.761253
H         0.114523  0.004300  0.060530  0.520282  0.034854        0.734489
I         0.116722  0.008289  0.030584  0.425868  0.022525        0.603989
J         0.078150  0.007862  0.043502  0.485870  0.045697        0.661082
K         0.111332  0.015546  0.057412  0.495231  0.013807        0.693327
L         0.079246  0.005859  0.038550  0.577422  0.029719        0.730795
M         0.129557  0.007196  0.076068  0.466596  0.033897        0.713314
N         0.120881  0.001421  0.011710  0.317745  0.006183        0.457941
O         0.128655  0.026816  0.044595  0.500762  0.012583        0.713412
P         0.000000  0.000000  0.000000  0.000000  0.000000        0.000000
Q         0.128809  0.053766  0.000000  0.202217  0.000000        0.384791
R         0.018339  0.004252  0.018125  0.204960  0.056033        0.301710

In [76]:
(df_final[['industry'] + reference + market]
 .groupby('industry')
 .sum(axis = 0)
 .transpose()
 .reset_index()
 .assign(origin = lambda x: x['index'].str.extract(r"(_[^_]+$)"),
        product = lambda x: x['index'].str.extract(r"(^[^_]+(?=_))"))
 .drop(columns = 'index')
 .sort_values(by = "product")
 .set_index(['product', 'origin'])
 .groupby(level = 0)
 .apply(lambda x: x.shift(1) / x )
 .dropna()
 .droplevel('origin')
 .transpose()
 .assign(total_industry = lambda x: x.sum(1))
 .sort_values(by ='total_industry')
 .drop(columns = 'total_industry')
 .style
 .format("{:.2%}")
 .background_gradient(cmap=cm)
)

## Region Market size by industry

In [ ]:
ttpotential_i = (df_final
 .groupby('industry').agg(
     {
         'Total_market': 'sum'})
            )
ttpotential_i.head()

In [ ]:
revenue_ci = (df_final
 .groupby(['Region', 'industry']).agg(
     {
         'Total_reference': 'sum'}
 )
)

In [ ]:
region = df_final['Region'].unique()

In [ ]:
(
    revenue_ci.reset_index()
    .merge(ttpotential_i.reset_index(), on="industry", how="inner")
    .assign(
        revenue_to_potential=lambda x: x["Total_reference"] / x["Total_market"]
    )
    .sort_values(by=["Region", "revenue_to_potential"], ascending=[True, False])
    .drop(columns=["Total_reference", "Total_market"])
    .pivot(index="industry", columns="Region", values="revenue_to_potential")
    .assign(total_industry = lambda x: x.sum(1))
    .sort_values(by ='total_industry')
    .fillna(0)
    .style
    .highlight_null('red')
    .background_gradient(cmap=cm,
                      subset = region)
    .bar(subset=['total_industry'], color='#d65f5f')
)

## Correlation

In [ ]:
df_final.corr()

## Euclidean Distance

## Definition Euclidean Distance

According to the Euclidean distance formula, the distance between two points in the plane with coordinates (x, y), and is given by:

$$\begin{aligned} d(\mathbf{p}, \mathbf{q})=d(\mathbf{q}, \mathbf{p}) &=\sqrt{\left(q_{1}-p_{1}\right)^{2}+\left(q_{2}-p_{2}\right)^{2}+\cdots+\left(q_{n}-p_{n}\right)^{2}} \\ &=\sqrt{\sum_{i=1}^{n}\left(q_{i}-p_{i}\right)^{2}} \end{aligned}$$

### Example 

Calculate the distance between two arrays.

We want to sum each column of the first array with all the columns of the second array

Take an example, we want to compute the Euclidean distance of this first array:
- [7.2, 3.6, 5.1, 2.5]: It has 4 columns and one row

we will compute the Euclidean distance with all the rows of the second array. The second array has also four columns. We are substracting each columns of the first and second array respecively 

Exemple with the first rows of the second array:
- [5.1, 3.5, 1.4, 0.2]

The Euclidean distance is $$\sqrt{((7.2 - 5.1)^2  + (3.6 - 3.5)^2 + (5.1 -1.4)^2 + (2.5 - 0.2)^2)}$$

We repeat for all the rows

## Data standardization

The value of distance measures is intimately related to the scale on which measurements are made.

In [ ]:
def euclideanDistance(vect_1, vect_2):
  
    """
      Compute the Euclidean distance 
    """
  
    sum_ = np.sum(np.power(vect_1 - vect_2, 2))
  
    euclideanD = np.sqrt(sum_)
    return euclideanD

Remove country industry pair with no remove.It will inflate the distance

In [ ]:
indu_norevenue = (df_final
 .groupby(['Region', 'industry'])
 .agg(
     {
         'Total_reference': 'sum'}
 )
 .loc[lambda x: x['Total_reference'] == 0]
)
indu_norevenue

In [ ]:
list_ = list(indu_norevenue.index)
list_[0][0]

In [ ]:
index_no = [] 
for c in  list_:
    index_ =  df_final[(df_final['Region'] == c[0]) &
          (df_final['industry'] == c[1])
          ].index
    index_no.extend(index_)

In [ ]:
X = df_final[~df_final.index.isin(index_no)]

In [ ]:
def compute_potential(df, normalized=True, begin=0, end=10):
    """
    The fonction compute the Euclidean Distance
    Merge the whitespace 
    and plot the results: selected points and whitespace
    """

    # Normal

    # Reshape the data
    region_indu_prod = (df[['Region', 'industry'] + reference + market]
                        .groupby(['Region', 'industry'])
                        .sum(axis=0)
                        .stack()
                        .reset_index(name='sum')
                        .assign(origin=lambda x: x['level_2'].str.extract(
                            r"(_[^_]+$)"),
                                product=lambda x: x['level_2'].str.extract(
                                    r"(^[^_]+(?=_))"))
                        .drop(columns='level_2')
                        .set_index(['Region', 'industry', 'product', 'origin'
                                    ])
                        .unstack()
                        .assign(norm_pot=lambda x:  (x.iloc[:, 0] -
                                                     x.iloc[:, 0].mean())/
                                x.iloc[:, 0].std(),
                                norm_vod=lambda x:  (
                                x.iloc[:, 1] - x.iloc[:, 1].mean())/
                                x.iloc[:, 1].std(),
                                )
                        )

    # Create distance
    if normalized:
        x_ = 2
        y_ = 3
    else:
        x_ = 0
        y_ = 1

    region_indu_prod["distance"] = region_indu_prod.groupby(
        #['Inbound_Region', 'str']
        level=[0, 1]
    ).apply(lambda x: euclideanDistance(x.iloc[:, x_],
                                        x.iloc[:, y_],
                                        )
            )

    ### Compute whitesaoce
    whitespace_ri = (
        region_indu_prod
        .iloc[:, :2]
        .droplevel('product')
        .groupby(level=[0, 1])
        .sum()
        .assign(whitespace=lambda x: x.iloc[:, 0] - x.iloc[:, 1])
        .iloc[:, -1]
    )

    sort_distance = (region_indu_prod
                     .droplevel(level=[2])
                     .iloc[:, -1]
                     .drop_duplicates()
                     )
    df_Epotential = pd.concat(
        [sort_distance, whitespace_ri], axis=1).sort_values(by='distance')
    
    title = 'Top {} markets: Whitespace according to \
    Euclidean Distance'.format(end - begin)

    df_Epotential.iloc[begin:end, 1].plot.barh(
        title=title)

    return region_indu_prod, df_Epotential

In [ ]:
def filter_distance(df, country, industry):
    """
    filter the multi-index dataframe
    and return country industry
    """
    return df.loc[(country,industry)]

In [ ]:
df_Epotential = compute_potential(
    df = X,
    normalized =  False,
                  begin = 80,
                  end = 92)

In [ ]:
filter_distance(df =df_Epotential[0],
                country = 'Americas',
                industry = 'E')